.header{
  display: block;
  position: relative;
}
.header-ttl{
  display: inline-block;
}
.header-nav{
  display: flex;
  position: absolute;
  right: 0%;
  top: 50%;
}
.header-nav-list{
  display: inline-block;
  padding-left: 0;
  margin: 0px 0px 0px auto;
}
.header-nav-item{
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}
.header-nav-item-link{
  margin: 0px 0px 0px auto;
}
.eyecatch{
  display: block;
  position: relative;
  width: 100vw;
  height: 500px;
}
.catch-copy{
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  bottom: 60px;
}
.eyecatch-img-container{
  display: block;
  position: absolute;
  right: 0%;
  top: 50px;
}
.eyecatch-img{
  width: 600px;
  display: inline-block;
  margin: 0px 0px 0px auto;
}
.bg-blue{
  width: 70%;
  border-bottom: solid 100px rgb(14, 14, 126);
  position: absolute;
  bottom: 0%;
  z-index: -10;
}